        /* Common styling for header and body */
        .header,
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        #preloader {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 9999;
        }

        .loader {
          border: 16px solid #f3f3f3;
          border-top: 16px solid #3498db;
          border-radius: 50%;
          width: 120px;
          height: 120px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: spin 2s linear infinite;
        }

        @keyframes spin {
          0% { transform: translate(-50%, -50%) rotate(0deg); }
          100% { transform: translate(-50%, -50%) rotate(360deg); }
        }


        /* Header specific styling */
        .header {
            background: linear-gradient(45deg, #ff5733, #ffcc29);
            color: white;
            text-align: center;
            padding: 20px 0;
            position: relative;
            overflow: hidden;
        }

        .header:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.1);
            z-index: -1;
            transition: opacity 0.3s ease;
        }

        .header:hover:before {
            opacity: 0.5;
        }

        .header h1 {
            font-size: 1.6rem;
            margin: 0;
            padding: 10px;
            animation: colorChange 5s linear infinite;
        }

        @keyframes colorChange {
            0% { color: white; }
            50% { color: #ffcc29; }
            100% { color: white; }
        }

        .logo {
            display: inline-block;
            vertical-align: middle;
            width: 100px; /* Adjust width as needed */
            height: auto;
        }
        h2 {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: 400;
        }
        p {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            font-size: 12px;
            font-weight: 400;
        }
        span {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: 600;
            color: red;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 10px;
            text-align: center;
            background-color: #f5f5f5;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .candidate {
            display: inline-block;
            width: calc(30% - 20px); /* Adjusted width to account for margin and padding */
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
        }

        .candidate:hover {
            transform: translateY(-5px); /* Move the card up slightly on hover */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
            background-color: #f0f0f0; /* Change the background color on hover */
        }

        /* Mobile styles */
        @media (max-width: 768px) {
            .candidate {
                width: 50%; /* Full width on smaller screens */
            }
        }

        img {
            max-width: 85%;
            height: auto;
        }
        .dialog {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 1; /* Sit on top */
            overflow: auto; /* Enable scroll if needed */
        }
        .dialog-content {
            background-color: white;
            position: fixed;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            text-align: center;
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            border: 1px solid #888;
            width: 100%;
        }
        .close {
            cursor: pointer;
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
        .dialog-content input {
        width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
        }
        .instagram-logo {
            width: 30px;
            height: 30px;
            vertical-align: middle;
            margin-right: 10px;
        }
/* Style for the vote-dialog container */
#vote-dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
}
/* Style for the vote-dialog content */
.vote-dialog-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}
/* Style for the heading */
.vote-dialog-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
/* Style for the paragraph */
.vote-dialog-content p {
    font-size: 16px;
    margin-bottom: 20px;
}
/* Style for the option buttons */
.option-button {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
/* Hover effect for option buttons */
.option-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
  .social-links {
    margin-top: 15px;
  }
  .social-icon {
    font-size: 1em;
    margin: 0 10px;
    color: #555;
  }
  .social-vote-button {
    margin-top: 15px;
  }
  .hotmail-button {
    background-color: blue;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .yahoo-button {
    background-color: purple;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .gmail-button {
    background-color: red;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .email-button {
    background-color: red;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

/* Style for the close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #777; /* Color for the close button */
}
/* Hover effect for the close button */
.close-button:hover {
    color: #333; /* Darker color on hover */
}